@import "tailwindcss";
#root {
    max-width: 1920px;
    max-height: 1280px;
    margin: 0 auto;
    font-family: SansSerif;
}
body {
    display: flex;
    place-items: center;
    min-height: 100vh;
    background-color: #1a1a1a;
    color:white;
}
button{
    color: white;
    background-color: #1a1a1a;
    border: 2px solid white;
    margin: 20px;
    border-radius: 15px;
    padding: 15px;
}

.menuBox{
    @apply flex flex-col relative m-auto
    text-[60px] items-center justify-center border-2
    rounded-[15px] w-[1280px] h-[720px];
}
.inputData{
    @apply  p-[6px] text-center text-2xl w-[300px]
    mr-6 border-2 border-white rounded-[15px];
}
/* buttons */
.menuButton{
    @apply text-2xl;
}
.goBackButton{
    @apply text-[30px] top-0 left-0 absolute;
}
.playButton{
    @apply text-5xl px-7.5 py-5;
}
@media (max-width: 1799px), (max-height: 799px) {
    main,
    .ball,
    .paddle,
    .counter,
    .menuBox,
    .youLostBox {
        display: none;
    }

    .tooSmall {
        display: flex;
    }
}
/* game */
main{
    position: relative;
    width: 1800px;
    height:800px;
    border: 10px solid white;
    border-right: none;
}
.paddle{
    @apply bg-white h-[80px] w-[10px]
    absolute top-1/2;
}
.paddleRight{
    @apply right-0;
}
.paddleLeft{
    @apply left-0;
}
.youLostBox{
    @apply absolute top-1/2 left-1/2
    -translate-x-1/2 -translate-y-1/2
    flex flex-col text-[60px] items-center
    justify-center w-[1280px] h-[720px];
}
.gameField1{
    @apply border-l-red-500;
}
.gameField2{
    @apply border-l-0;
}
.ball{
    @apply bg-white w-[30px] h-[30px] rounded-full absolute;
}